<template>
  <div>
    <b-row>
      <b-form-group label-cols-sm="3" label="Filter" class="mb-0">
        <b-input-group>
          <b-form-input v-model="filter" placeholder="Type to Search"></b-form-input>
          <b-input-group-append>
            <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-form-group>
    </b-row>
    <b-row>
      <b-table
              striped
              hover
              :fields="fields"
              :items="items"
              :filter="filter"
              show-empty>
        <template slot="action" slot-scope="data">
          <b-button @click="remove(data.item.index)">X</b-button>
        </template>
      </b-table>
    </b-row>
  </div>
</template>
<script>
export default {
  name: "table-widget",
  data() {
    return {
      fields: [
        { key: "firstName", label: "First Name", sortable: true },
        { key: "lastName", label: "Last Name", sortable: true },
        { key: "phone", label: "Phone", sortable: true },
        { key: "email", label: "Email", sortable: true },
        { key: "action", label: "Action", sortable: false }
      ],
      items: [
        { firstName: "Tanya", lastName: "Test", phone: '11111111111', email: "t.test@mail.com" },
        { firstName: "Kenny", lastName: "Test", phone: '22222222222', email: "k.test@mail.com" },
        { firstName: "Anna", lastName: "Test", phone: '333333333333', email: "a.test@mail.com" },
        { firstName: "Tiny", lastName: "Test", phone: '444444444444', email: "ti.test@mail.com" },
        { firstName: "Sendy", lastName: "Test", phone: '55555555555', email: "s.test@mail.com" },
        { firstName: "Spider", lastName: "Test", phone: '66666666666', email: "sp.test@mail.com" },
        { firstName: "Hanna", lastName: "Test", phone: '777777777777', email: "h.test@mail.com" },
        { firstName: "Riana", lastName: "Test", phone: '888888888888', email: "r.test@mail.com" },
        { firstName: "Piter", lastName: "Test", phone: '999999999999', email: "p.test@mail.com" },
        { firstName: "Mary", lastName: "Test", phone: '10101010101', email: "m.test@mail.com" }
      ],
      filter: null,
    };
  },
  methods: {
    remove(index) {
      this.items.splice(index, 1);
    }
  }
};
</script>
