<template>
  <div id="app">
    <table-widget></table-widget>
  </div>
</template>

<script>
import TableWidget from './components/Table';
export default {
  name: 'app',
  components: {
    TableWidget,
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
